nav {
  height: 40px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
}
body {
  padding-top: 2%;
  background-image: url("../img/bluengreen.png");
  background-size: 100% 100%;
}

div {
  text-align: center;
}
button {
  border: 0;
  outline: 0;
}

.certification-header {
  box-shadow: inset 0 -15px 0 #6bd7ff;
  width: 35%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  font-weight: bold;
  font-size: 3.75em;
}

.certification-color-window {
  background: #ededed;
  padding-top: 1%;
  padding-bottom: 3%;
  border-radius: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.input_file {
  margin-left: 64%;
  margin-bottom: 1%;
}

.btn-completion {
  background-color: #61a0e8;
  border-radius: 50px;
  color: white;
  width: 10%;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));
}

.modal-h {
  text-align: center;
  font-weight: bold;
  font-size: 280%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-c {
  margin-top: 2%;
}
.modal-cc {
  font-size: 160%;
  margin-right: 10%;
  margin-left: auto;
}

.modal-b {
  background-color: #0e53a0;
  width: 25%;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  font-size: 160%;
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));
}
