/*main_before_login*/
#main_back_img{
    background-image: url('../img/main-bluegreen.png'); 
    background-size: 100% 100%; 
    background-color: #61A0E8;
    height: 33.063em;
}
#main_text{
    color: white;
    padding-top: 3em;
    letter-spacing: 0.1rem;
}
.main_icon{
    width: 13.125em;
    height: 13.125em;
}
.icon_text{
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
}
#main_table{
    margin: auto;
    width: 80%;
}
#main_img{ 
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}