<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/hometraining_css.css">
    <link rel="stylesheet" href="../css/nav_css.css">
    <title>Hometraining</title>
</head>
<body>
    <header>
            <nav class="navbar">
                <a id="logo" href="/">
                    <img src="../img/nav-logo.png" class="navbar-brand">
                </a>
                <form class="d-flex">
                    <a href="login.html" class="btn" tabindex="-1" role="button" aria-disabled="true">로그인</a>
                    <div class="nav-item dropdown">
                        <button class="nav-link" data-toggle="dropdown" aria-expanded="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" viewBox="0 0 30 30" role="img" focusable="false">
                                <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/>
                            </svg>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="info_before_login.html">소개 페이지</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="health_before_login.html">건강 관리</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="comunitymain_before_login.html">커뮤니티</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="challengemain_before_login.html">챌린지</a>
                        </div> 
                    </div>
                </form>
            </nav>
    </header>

    <div id="top_back_img">
        <br><br><br>
        <h2 id="main_text">홈트레이닝, 어떤 게 좋을까?</h2><br><br><br>

        <table id="info_table">
            <tr>
                <td>
                    <br><br>
                    <h5>홈트의 매력에 빠져보세요!</h5>
                    <br>
                    <div id="tbl_text">
                        여러분들을 위해 유명한 홈 트레이닝 영상 링크와 설명을 정리해 두었습니다.<br>
                        마음껏 활용해 보세요:)<br><br>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <br><br>
    <div id="bottom_back_img">
    <table style="width: 70%;">
        <tr>
            <td class="tbl_padding">
                <span style="font-weight: bold;">01</span>
                <a href="https://chloeting.com/program/" tabindex="-1" role="button" aria-disabled="true">
                    <img class="icon" src="../img/클로이팅.png">
                </a>
            </td>
            <td class="tbl_padding">
                매일매일 해야 하는 운동 영상이 스케줄링 되어서 제공되고 있어요!<br><br>
                상당히 힘들다는 후일담이 많지만 그만큼 효과를 봤다는 사람도 많아요!<br><br>
                난이도가 있기 때문에 꾸준함이 관건입니다
            </td>
        </tr>
        <tr>
            <td class="tbl_padding">
                <span style="font-weight: bold;">02</span>
                <a href="https://www.youtube.com/c/thankyoububu" tabindex="-1" role="button" aria-disabled="true">
                    <img class="icon" src="../img/땅끄부부.png">
                </a>
            </td>
            <td class="tbl_padding">
                땅끄부부의 홈트 코스는 안들어보신 분들이 없을 정도로 유명하죠!<br><br>
                1분 다이어트, 전신 다이어트, 상체 다이어트, 허벅지&종아리 다이어트 등<br>
                종류별로 영상들이 엄청 많습니다.<br><br>
                그 중에서도 '칼로리 소모 폭파'인 칼소폭 시리즈가 인기가 많고,<br>
                순한맛/ 매운맛/ 핵매운맛/ 찐 핵매운맛 등 다양한 시리즈로 준비되어 있습니다!
            </td>
        </tr>
        <tr>
            <td class="tbl_padding">
                <span style="font-weight: bold;">03</span>
                <a href="https://www.youtube.com/c/DanoTV" tabindex="-1" role="button" aria-disabled="true">
                    <img class="icon" src="../img/다노tv.png">
                </a>
            </td>
            <td class="tbl_padding">
                스트레칭부터 홈트 계획표, 전신 운동까지 다양한 영상이 있는 다노 TV 채널!<br><br>
                특히 하체를 위주로 풀어주는 '레전드 스트레칭' 영상은 꾸준히 인기가 있습니다.<br><br>
                다른 홈트레이닝 영상을 시도해보기 전에, 스트레칭 영상으로 몸 풀어보는 건 어떨까요?
            </td>
        </tr>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>