<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/nav_css.css">
    <link rel="stylesheet" href="../css/info_before_login_css.css">
    <title>Info</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a id="logo" href="/">
                <img src="../img/nav-logo.png" class="navbar-brand">
            </a>
            <form class="d-flex">
                <a href="/login" class="btn" tabindex="-1" role="button" aria-disabled="true">로그인</a>
                <div class="nav-item dropdown">
                    <button class="nav-link" data-toggle="dropdown" aria-expanded="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" viewBox="0 0 30 30" role="img" focusable="false">
                            <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/info">소개 페이지</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/health">건강 관리</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/community_main">커뮤니티</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/challenge_main">챌린지</a>
                    </div> 
                </div>
            </form>
        </nav>
    </header>
    <br><br>
    <div id="head_text" class="blue_back">모든 사람은 각자의 체형과 건강 상태를 가지고 있습니다.</div>
    <br><br>
    <table id="table1">
        <tr>
            <td style="padding-left: 10%;">
                <p>
                    친한 친구끼리의 대화임에도 불구하고<br/>
                    체형과 건강 상태에 관련하여 이야기를 나눌 때,<br/>
                    공감이 되지 않는 부분이 있지는 않으셨나요?
                </p>
                <p>
                    그에 더해 COVID-19 이후 <br/>
                    헬스케어 및 건강에 대한 관심도가 많이 증가하였습니다.<br/>
                    체형 및 건강 상태에 따라 누구나 대화하고, 정보를 얻어갈 수 있는<br/>
                    열린 공간이 필요하다는 걸 느끼고 실제로 있다면 어떨지 상상해보셨나요?<br><br>
                </p>
            </td>
            <td style="text-align: right;">
                <img src="../img/CI-white2.png">
            </td>
        </tr>
    </table>
    <br><br><br>
    <h4>
        <span style="color: #61A0E8;">헬스케어 정보 격차 해소</span>를 위해<br/>
        <span style="color: #61A0E8;">The Healthiest</span>가 앞장서겠습니다.
    </h4>
    <br><br>

    <div class="blue_back"><br><br>
    <table style="width: 70%; margin: auto;">
        <tr>
            <td>
                01<br>
                <img class="icon" src="../img/icon-health-white.png"><br>
                <span style="font-weight: bold;">건강관리</span>
            </td>
            <td>
                02<br>
                <img class="icon" src="../img/icon-commu-white.png"><br>
                <span style="font-weight: bold;">커뮤니티</span>
            </td>
            <td>
                03<br>
                <img class="icon" src="../img/icon-challenge-white.png"><br>
                <span style="font-weight: bold;">챌린지</span>
            </td>
        </tr>
        <tr>
            <td><br>당신의 소중한 건강을<br> 관리하기 위한<br> 사이트와 관련 영상을<br> 소개할게요!</td>
            <td><br>미처 물어보지 못했던<br> 질문들을 마음껏 하고<br> 대화를 나누며<br> 정보를 얻어가요!</td>
            <td><br>혼자 하기에는<br> 지루한 운동도<br> 챌린지와 함께라면<br> 즐겁게 할 수 있어요!</td>
        </tr>
    </table><br>
    <hr style="width: 80%; background-color: white;"><br>

    <h5>
        The Healthiest<span style="color: black;">는</span> 
        개인적인 현대사회 속에서<br/> 모두 함께 건강을 지킬 수 있는 플랫폼<span style="color: black;">이 되겠습니다.</span>
    </h5>
    <br><br>
    </div>
    
    <div id="bottom">
        <br><br>
        <h4 id="ci">
            CI (Corporate Identity) 소개
        </h4><br><br>
        <div>
            <img class="icon2" src="../img/CI-white.png" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img class="icon2" src="../img/CI-black.png">
        </div>
        <br><br><br>

        <table id="table2" cellpadding="20em" frame="box">
            <tr>
                <td></td>
                <td colspan="2"><h1 style="color: #61A0E8; font-weight: bold; text-align: right;">The Healthiest</h1></td>
                <td></td>
            </tr>
            <tr>
                <td><img class="icon3" src="../img/CI-sky.png"></td>
                <td>밝은 하늘색 말풍선은 <br><span style="font-weight: bold;">헬스케어 숙련자</span>를 상징합니다.</td>            
                <td><img class="icon3" src="../img/CI-green.png"></td>
                <td>밝은 연두색 말풍선은 <br><span style="font-weight: bold;">헬스케어 입문자</span>를 상징합니다.</td>
            </tr>
            <tr>
                <td><img class="icon3" src="../img/CI-blue.png"></td>
                <td>두 개의 말풍선이 겹치는 부분은 <br> The Healthiest가<br> <span style="font-weight: bold;">헬스케어 숙련자 및 입문자를<br> 모두 아우른다</span>는 것을 상징합니다.</td>
                <td><img class="icon3" src="../img/CI-cross.png"></td>
                <td>상단의 십자가 마크는<br> <span style="font-weight: bold;">건강과 제공하는 정보에 대한 신뢰감</span>을<br> 상징합니다.</td>
            </tr>
        </table>
        <br><br>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>