            <div class="my">
                <div class="mynameoutter">
                    <div class="myname"> <%= id %> </div>
                    <div id="dear">님</div>
                </div>
                
                <div class="msg">
                    <div OnClick="location.href ='/mypage/mailbox'" style="cursor:pointer;" class="msgroom">쪽지함</div>
                    <div class="msgcnt">0</div>
                </div>
            </div>   