<div class="my">
    <div><button class="writingmail" OnClick="location.href ='/mypage/mail'">쪽지 쓰기</button></div>
   <table class="sboxtable">
       <tbody>
           <tr>
                <td class="icontd"><i class="far fa-envelope fa-lg"></i></td>
               <td class="sboxtd">전체 쪽지</td>
               <td class="sboxtd snumber">0</td>
           </tr>
           <tr>
                <td class="icontd"><i class="fas fa-inbox fa-lg"></i></td>
                <td class="sboxtd">받은 쪽지</td>
                <td class="sboxtd snumber">0</td>
            </tr>
            <tr>
                <td class="icontd"><i class="far fa-paper-plane fa-lg"></i></td>
                <td class="sboxtd">보낸 쪽지</td>
                <td class="sboxtd snumber">0</td>
            </tr>
       </tbody>
   </table>
</div>   